div form {
        border: 2px solid black;
}

body{
    background: #159957;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #155799, #159957);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #155799, #159957); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
form{
    margin-right: 10%;
}

form label{
    color: yellowgreen;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1 {
    color: yellowgreen;
    /*margin-left: 275px;*/
    margin-bottom: 2.5%;
    margin-top: 1%;
}
form small{
    color: #bebe77;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
form h5{
    border: 2px solid black;
    color: yellowgreen;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

